body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: #062783;
}

.visually-hiden {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    display: block;
    text-align: center;
}

.header .wrapper{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

.wrapper {
    max-width: 1030px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #ffffff;
}

.header__img {
    width: 75px;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__subtitle {
    color: #10a302;
    font-size: 22px;
}

.header__image{
    width: 30px;
    height: 30px;
}

.header__number{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.header__link {
    color: #10a302;
    font-size: 22px;
}

.box{
    margin-top:130px;
}

.container .wrapper {
}

.container__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__title {
    font-size: 30px;
}

.container__logo {
    width: 50px;
    height: 70px;
}

.container__img {
    width: 250px;
    height: 200px;
    margin-right: 50px;
}

.container__place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container__subtitle {
    font-size: 24px;
}

.container__subtitle span{
    font-size: 18px;
}

.container__city {
    font-size: 22px;
    color: #646464;
}

.container__price p::after{
    content: "__________________";
}


.container__list {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 50px;
}

.container__box{
    display: flex;
    align-items: center;
}

.footer .wrapper{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

@media (max-width: 600px){
    .container__list{
        flex-direction: column;
        gap: 20px;
    }
}